!!! 5
html
  head
    title Book
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet', media='screen')
  body
    center
      h1  Hotel Reserve System 
    .container
      div
        ul.breadcrumb
          li
            a(href='#') home
            span.divider /
          li
            a(href='#') search
            span.divider /
          li
            a(href='#') select
            span.divider /
          li.active book
      div
        h2
          font(color='blue') XXX hotel: Rating 5
        p.text-info
          | XXX hotel description
          br
          | aaaaaaaaaa
          br
          | aaaaaaaaaaaa
          br
          | aaaaaaaaa
          br
      table.table.table-bordered.table-hover
        thead
          tr
            th
            th  Room Type: 
            th(colspan='7')  Rates shown below are in Australian Dollars
        tbody
          tr
            td(rowspan='3') 1
            td(rowspan='3')
              //
                 <td> 
              strong
                font(color='blue') Room Name1
              br
              | room decription ddddddddddddddddd
              br
              a(href='#') book
            tr.info
              td
                | Wed
                br
                | 1 May
              td
                | Thu
                br
                | 2 May
              td
                | Fri
                br
                | 3 May
              td
                | Sat
                br
                | 4 May
              td
                | Sun
                br
                | 5 May
              td
                | Mon
                br
                | 6 May
              td
                | Tus
                br
                | 7 May
          tr
            td
              | $1
              label.checkbox
                input(type='checkbox')
                | choose
            td
              | $2
              label.checkbox
                input(type='checkbox')
                | choose
            td
              | $3
              label.checkbox
                input(type='checkbox')
                | choose
            td
              | $4
              label.checkbox
                input(type='checkbox')
                | choose
            td
              | $5
              label.checkbox
                input(type='checkbox')
                | choose
            td
              | $6
              label.checkbox
                input(type='checkbox')
                | choose
            td
              | $7
              label.checkbox
                input(type='checkbox')
                | choose
          tr
            td(rowspan='3') 2
            td(rowspan='3')
              //
                 <td> 
              strong
                font(color='blue') Room Name2
              br
              | room decription ddddddddddddddddd
              br
              a(href='#') book
            tr.info
              td
                | Wed
                br
                | 1 May
              td
                | Thu
                br
                | 2 May
              td
                | Fri
                br
                | 3 May
              td
                | Sat
                br
                | 4 May
              td
                | Sun
                br
                | 5 May
              td
                | Mon
                br
                | 6 May
              td
                | Tus
                br
                | 7 May
          tr
            td
              | $1
              label.checkbox
                input(type='checkbox')
                | choose
            td
              | $2
              label.checkbox
                input(type='checkbox')
                | choose
            td
              | $3
              label.checkbox
                input(type='checkbox')
                | choose
            td
              | $4
              label.checkbox
                input(type='checkbox')
                | choose
            td
              | $5
              label.checkbox
                input(type='checkbox')
                | choose
            td
              | $6
              label.checkbox
                input(type='checkbox')
                | choose
            td
              | $7
              label.checkbox
                input(type='checkbox')
                | choose
          tr
            td(rowspan='3') 3
            td(rowspan='3')
              //
                 <td> 
              strong
                font(color='blue') Room Name3
              br
              | room decription ddddddddddddddddd
              br
              a(href='#') book
            tr.info
              td
                | Wed
                br
                | 1 May
              td
                | Thu
                br
                | 2 May
              td
                | Fri
                br
                | 3 May
              td
                | Sat
                br
                | 4 May
              td
                | Sun
                br
                | 5 May
              td
                | Mon
                br
                | 6 May
              td
                | Tus
                br
                | 7 May
          tr
            td
              | $1
              label.checkbox
                input(type='checkbox')
                | choose
            td
              | $2
              label.checkbox
                input(type='checkbox')
                | choose
            td
              | $3
              label.checkbox
                input(type='checkbox')
                | choose
            td
              | $4
              label.checkbox
                input(type='checkbox')
                | choose
            td
              | $5
              label.checkbox
                input(type='checkbox')
                | choose
            td
              | $6
              label.checkbox
                input(type='checkbox')
                | choose
            td
              | $7
              label.checkbox
                input(type='checkbox')
                | choose
    script(src='http://code.jquery.com/jquery.js')
    script(src='js/bootstrap.min.js')

